table {
            height: 100vh;
            width: 100%;
}

td {
            border: 1px rgb(203, 112, 255);
            text-align: center;
}

.zone1 {background-color: rgb(255, 207, 194);}
.zone2 {background-color: rgb(194, 255, 226);}
.zone3 {background-color: rgb(255, 243, 194);}
.zone4 {background-color: rgb(194, 216, 255);}
.zone5 {background-color: rgb(255, 194, 225);}
